@model List<HabaneroCodeTest.Models.Game>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" style="text-align: center">
        <h1 id="title">GAMES</h1>
    </section>
    <div ng-app="gamesAngularList" ng-controller="gamesAngularController" style="text-align: center">
        <div>
            <span>Search for Games by English Name:</span>
            <br/>
            <input type="text" ng-model="searchGameByName"/>
        </div>
        
        <ul class="games-list">
            <li ng-repeat="game in angularModel | filter : searchGameByName">
                <a href="{{game.PlayLink}}" target="_blank">
                    <img src="{{game.Logo}}" />
                    <span><strong>{{game.Name}}</strong></span>
                    <span>{{game.TranslatedNames[2].Translation}}</span>
                </a>
            </li>
        </ul>
    </div>
</main>

@section scripts{
    <script>
        var app = angular.module('gamesAngularList', []);
        app.controller('gamesAngularController', function ($scope) {
            $scope.angularModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        });
        //console.log(model);
        //console.log(model[0].Id);
        //console.log(model[0].PlayLink);
        //console.log(model[0].Logo);
    </script>
}

@section styles{
    <style>
        .games-list {
            text-align: center;
            display: block;
            padding-top: 20px;
        }
        .games-list li {
            display: inline-block;
            list-style: none;
            margin: 0 auto;
            max-width: 350px;
            margin: 10px 30px;
            text-align: center;
        }
        .games-list li img {
            width: 100%;
        }
        .games-list li span {
            display: block;
            color: #000;
            text-decoration: none;
            padding: 5px 0;
        }
        .games-list li a {
            text-decoration: none;
        }
    </style>    
}