@model List<HabaneroCodeTest.Models.Game>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row py-4 border-bottom" aria-labelledby="aspnetTitle" style="text-align: center">
        <h1 id="title">GAMES</h1>
        <h4>Click the game to play in Fun Mode</h4>
    </section>
    <div ng-app="gamesAngularList" ng-controller="gamesAngularController"  class="row ">
        <div class="py-4 col-md-3 col-xs-12 filter-sections border-right">
            <div class="py-4 input-section">
                <strong>Search for Game Name:</strong>
                <input type="text" ng-model="searchGameByName" />
            </div>
            <div class="input-section">
                <strong>Change Logo Type</strong>
                <select ng-init="logoType = logoTypes['Circle Flat']" ng-model="logoType" ng-options="x for (x,y) in logoTypes">
                </select>
            </div>
            <div class="input-section game-type-section">
                <strong>Select Game Type</strong>
                <select ng-model="gameTypeSelector">
                    <option label="All" value="" selected="selected">All</option>
                    <option ng-repeat="x in gameTypes" label="{{x}}" value="{{x}}">{{x}}</option>
                </select>
            </div>
            <div class="input-section">
                <strong>Order By</strong>
                <label>
                    <input type="radio" name="orderBy" ng-click="orderByThis('')" checked/> Default
                </label>
                <label>
                    <input type="radio" name="orderBy" ng-click="orderByThis('Name')" /> Name
                </label>
                <label>
                    <input type="radio" name="orderBy" ng-click="orderByThis('DtAdded')" /> Date Published
                </label>
                <label>
                    <input type="radio" name="orderBy" ng-click="orderByThis('GameTypeName')" /> Game Type
                </label>
            </div>
        </div>
        <div class="col-md-9 col-xs-12 games-list">
            <div class="row">
                <div ng-style="gameCardStyle" ng-repeat="game in angularModel | filter : {Name: searchGameByName, GameTypeName: gameTypeSelector} | orderBy : gameOrdering" class="game-card col-sm-6 col-md-4 col-lg-3 py-4" data-game-type="{{game.GameTypeName}}">
                    <a href="{{game.PlayLink}}" target="_blank">
                        <img src="https://app-test.insvr.com/img/{{logoType}}/400/{{game.KeyName}}.png/" />
                        <span><strong>{{game.Name}}</strong></span>
                        <span class="py-0">{{game.TranslatedNames[2].Translation}}</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</main>

@section scripts{
    <script>
        var gameModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    </script>
}

